html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* Adjust this to the height of your fixed navbar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", sans-serif;
  background-color: #f4f7f6; /* Soft background color */
  color: #333;
}

.text-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.text-footer {
  color: rgb(230, 248, 237);
  font-family: Georgia, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-footer {
  width: 100%;
  padding: 2em 3.5em;
  background-color: rgba(16, 17, 49, 255); /* Marine-inspired color */
  color: rgb(3, 3, 3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  column-gap: 1em;
  flex-direction: row;
  display: flex;
  justify-content: center;
  background-image: url("./assets/Title\ Background\ ECS-01.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

#App-footer-enquiries-container {
  display: inline-flex;
  column-gap: 1em;
}

.App-footer li {
  color: #eef8fc;
  list-style: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

.App-header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff; /* Marine-inspired color */
  color: rgb(3, 3, 3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.App-header p {
  margin-top: 15px;
}

.App-header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  /* font-weight: bold; */
  letter-spacing: 1px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.App-header a:hover {
  color: #25b39b; /* Light marine color */
}

nav ul {
  display: flex;
  padding-top: 10px;
  gap: 30px;
}

nav li {
  list-style: none;
}

.content {
  flex-grow: 1;
  padding: 40px 20px;
}

#section1 {
  margin-top: 5rem;
  background-color: #25b39b;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/SGS.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

#section1 h2 {
  color: aliceblue;
}

#section2 {
  padding: 5rem 12rem;
}

.section-text-1 {
  color: aliceblue;
}

#section3 {
  width: 40%;
  align-items: center;
}

#section4 {
  align-items: center;
  width: 40%;
}

#section-container-3-4 {
  column-gap: 5rem;
  justify-content: center;
  flex-direction: row;
}

#header-contact-us {
  padding-top: 12.5px;
}

.section {
  background-color: white;
  padding: 60px 30px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #003c58;
}

.section p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.progress-fill {
  background: radial-gradient(
    circle at -3.3% 48%,
    rgb(141, 146, 239) 0%,
    rgb(99, 229, 254) 90%
  );
}

#text-footer-address {
  padding-bottom: 5rem;
}

#img-formatter-section-3-4 {
  justify-items: center;
  align-items: center;
  display: grid;
}

@media (max-width: 1150px) {
  #iframe-map {
    display: none;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    align-items: flex-start;
  }
  #section2 {
    padding: 1rem;
  }

  #section-container-3-4 {
    display: flex;
    flex-direction: column;
  }

  #section3 {
    width: 90%;
  }

  #section4 {
    width: 90%;
  }

  .section {
    padding: 40px 20px;
  }
}
